wicked_cli.log
node_modules
**/*/node_modules
**/*/npm-debug.log
coverage
*.iml.
build
test_reports/
nvm/
manifests/
tests/
.DS_Store
.bootstraprc
.editorconfig
.eslint*
.gitignore
.nvmrc
.project
.histoy
.idea
.git
.git*
.publishrc
.vscode
.github
Dockerfile
*/.log
yarn-error.log
npm-debug.log
temp
config/
resources/*local.js